html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
}

header {
  background-image: url("../img/noun-59034-cc-copy.svg"), url("../img/noun-59034-cc-copy.svg"), url("../img/subtle-white-mini-waves.png");
  background-size: 75px auto, 75px auto, 100px auto;
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: left top, right top, center 10px;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  color: #512200;
  margin: 0;
  padding-top: 0.2em;
}

ol {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  background-color: #512200;
  opacity: 0.5;
  color: #fff;
  font-style: bold;
  padding: 0.5em 1em 0.5em 1em;
}

img {
  width: 50%;
}
